Repository offworldlab/3lips: changes, and which pre-commit hooks are due for each by the changed paths.
All: trivy-scan, pytest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9 # Use the latest stable version
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies:
          [
            "fastapi>=0.110.0",
            "pydantic-settings>=2.2.1",
            "pydantic>=2.6.3",
            "python-dotenv>=1.0.1",
            "python-json-logger>=2.0.7",
            "types-requests",
          ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-x", "tests"]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/returntocorp/semgrep
    rev: v1.89.0
    hooks:
      - id: semgrep
        args: ["--config", "p/ci"]

  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.4.2
    hooks:
      - id: python-safety-dependencies-check
        files: requirements.txt
        args: ["--continue-on-error"]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: ^tests/

  - repo: local
    hooks:
      - id: trivy-scan
        name: Trivy security scan
        entry: .pre-commit-hooks/trivy-scan.sh
        language: script
        files: Dockerfile|requirements\.txt
        pass_filenames: false

      - id: pytest
        name: Run unit tests
        entry: pytest
        language: python
        types: [python]
        pass_filenames: false
        args: ["-v"]
        additional_dependencies:
          [
            "boto3>=1.34.0",
            "email-validator>=2.0.0",
            "fastapi>=0.110.0",
            "httpx>=0.27.0",
            "litellm>=1.30.3",
            "pydantic-settings>=2.2.1",
            "pydantic>=2.6.3",
            "pytest-asyncio>=0.23.5",
            "pytest-cov>=4.1.0",
            "pytest>=8.0.0",
            "python-dotenv>=1.0.1",
            "python-json-logger>=2.0.7",
            "python-multipart>=0.0.11,<0.0.12",
            "slowapi>=0.1.9",
            "PyJWT>=2.0.0",
          ]

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

adds .mailmap
  .mailmap
Due: none

Implement comprehensive testing strategy and automated code review
  .github/workflows/claude.yml
  .pre-commit-config.yaml
  common/__init__.py
  event/__init__.py
  event/algorithm/__init__.py
  event/algorithm/associator/NodeDetectionsHelper.py
  event/algorithm/associator/__init__.py
  event/algorithm/geometry/__init__.py
  event/algorithm/localisation/__init__.py
  event/algorithm/track/__init__.py
  event/algorithm/truth/__init__.py
  event/data/__init__.py
  event/event.py
  event/requirements.txt
  run_tests.sh
  test/__init__.py
  test/event/TestGeometry.py
  test/event/__init__.py
  test/event/test_adsb_integration.py
  test/event/test_association.py
  test/event/test_geometry.py
  test/event/test_node_detections_helper.py
  test/event/test_track_lifecycle.py
  test/fixtures/simple_scenarios.py
  test/integration/test_current_tracker_baseline.py
  test/integration/test_full_pipeline.py
  test/test_basic.py
Due: trivy-scan, pytest

Fix detection association bug in tracker
  event/algorithm/track/Tracker.py
  test/event/test_association.py
Due: pytest

Fix GitHub Actions workflow configuration for Claude code review
  .github/workflows/claude.yml
Due: none

Fix container communication and track position updates with development workflow
  CLAUDE.md
  api/api.py
  api/map/event/ellipsoid.js
  api/map/event/radar.js
  api/map/main.js
  event/algorithm/track/Track.py
  event/algorithm/truth/AdsbTruth.py
  event/event.py
Due: pytest

Replace Claude code review with GitHub Copilot
  .github/workflows/claude.yml
Due: none

Remove automated GitHub Copilot code review
  .github/workflows/claude.yml
Due: none

Replace custom tracker with Stone Soup MultiTargetTracker
  event/algorithm/models/MeasurementModels.py
  event/algorithm/models/MotionModels.py
  event/algorithm/models/__init__.py
  event/algorithm/track/StoneSoupTracker.py
  event/algorithm/track/Tracker.py
  event/event.py
Due: pytest

Implement Stone Soup tracker integration with backward compatibility
  IMPLEMENTATION_GAPS.md
  PASSIVE_RADAR_ARCHITECTURE.md
  STONE_SOUP_INTEGRATION.md
  TESTING_STRATEGY.md
  event/algorithm/track/StoneSoupTracker.py
  event/algorithm/track/Tracker.py
  event/event.py
Due: pytest

Delete IMPLEMENTATION_GAPS.md
  IMPLEMENTATION_GAPS.md
Due: none

Delete STONE_SOUP_INTEGRATION.md
  STONE_SOUP_INTEGRATION.md
Due: none

Delete PASSIVE_RADAR_ARCHITECTURE.md
  PASSIVE_RADAR_ARCHITECTURE.md
Due: none

Delete TESTING_STRATEGY.md
  TESTING_STRATEGY.md
Due: none

Remove legacy tracker implementation - use Stone Soup exclusively
  event/algorithm/track/StoneSoupTracker.py
  event/algorithm/track/Tracker.py
Due: pytest

Make code more idiomatic and remove unnecessary comments
  event/algorithm/models/MotionModels.py
  event/algorithm/track/StoneSoupTracker.py
  event/algorithm/track/Tracker.py
  event/event.py
Due: pytest

Phase 2: Add TelemetrySolver integration wrapper
  event/algorithm/localisation/TelemetrySolverLocalisation.py
  event/event.py
Due: pytest

feat: Add Puppeteer MCP testing infrastructure for 3lips
  tests/SMOKE_TEST.md
  tests/docker-compose.smoke.yml
  tests/docker-compose.test.yml
  tests/puppeteer/README.md
  tests/puppeteer/config/test.config.js
  tests/puppeteer/tests/mvp-api.test.js
  tests/puppeteer/tests/mvp-config.test.js
  tests/puppeteer/tests/mvp-map-ui.test.js
  tests/puppeteer/tests/mvp-service-comm.test.js
  tests/smoke-test.js
Due: none

Update CLAUDE.md to require Puppeteer testing after changes
  CLAUDE.md
Due: none

Add service verification script for Puppeteer testing
  tests/verify-services.sh
Due: none

Add GitHub Actions workflow for automated Puppeteer testing
  .github/workflows/test.yml
Due: none

Reorganize test directory structure for clarity and consistency
  .github/workflows/test.yml
  CLAUDE.md
  octo-review-workflow.vim
  review-pr-alternative.sh
  review-pr.sh
  run_tests.sh
  tests/integration/README.md
  tests/integration/config/test.config.js
  tests/integration/tests/mvp-api.test.js
  tests/integration/tests/mvp-config.test.js
  tests/integration/tests/mvp-map-ui.test.js
  tests/integration/tests/mvp-service-comm.test.js
  tests/puppeteer-mcp-setup.md
  tests/unit/__init__.py
  tests/unit/event/__init__.py
  tests/unit/event/test_adsb_integration.py
  tests/unit/event/test_association.py
  tests/unit/event/test_geometry.py
  tests/unit/event/test_node_detections_helper.py
  tests/unit/event/test_track_lifecycle.py
  tests/unit/fixtures/simple_scenarios.py
  tests/unit/integration/test_current_tracker_baseline.py
  tests/unit/integration/test_full_pipeline.py
  tests/unit/test_basic.py
Due: pytest

Fix GitHub Actions integration tests for standalone 3lips repo
  .github/workflows/test.yml
  CLAUDE.md
  tests/docker-compose.ci.yml
  tests/mocks/README.md
Due: none

Fix GitHub Actions test failures
  .github/workflows/test.yml
  tests/docker-compose.ci.yml
  tests/mocks/nginx.conf
Due: none

Fix Docker Compose pull policy issues in CI
  tests/docker-compose.ci.yml
Due: none

Fix mock service health check failures in CI
  .github/workflows/test.yml
  tests/docker-compose.ci.yml
Due: none

Delete octo-review-workflow.vim
  octo-review-workflow.vim
Due: none

Phase 3: Docker integration for TelemetrySolver
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Rename TelemetrySolver to RETINASolver throughout codebase
  docker-compose.dev.yml
  docker-compose.yml
  event/algorithm/localisation/RETINASolverLocalisation.py
  event/event.py
Due: pytest

Add completion documentation for RETINASolver integration
  RETINASolver_Implementation_Completion.md
Due: none

Complete RETINASolver integration testing and validation
  api/api.py
  docker-compose-e2e-test.yml
  puppeteer_retina_solver_validation.js
  puppeteer_test_results.md
  run_e2e_test.sh
  run_retina_tests.sh
  test_e2e_pipeline.py
  test_puppeteer_enhanced.py
  test_puppeteer_results.md
  test_retina_simple.py
  test_retina_solver.py
  test_retina_solver_e2e_integration.py
  tests/unit/event/localisation/test_retina_solver_container.py
  tests/unit/event/localisation/test_retina_solver_integration.py
  tests/unit/event/localisation/test_retina_solver_localisation.py
  tests/unit/event/localisation/test_retina_solver_mock_only.py
Due: pytest

Fix failing unit tests by adding proper dependency mocking
  tests/unit/event/localisation/test_retina_solver_integration.py
  tests/unit/event/localisation/test_retina_solver_localisation.py
Due: pytest

Fix simplified test script for local and Docker environments
  test_retina_solver.py
Due: pytest

Delete RETINASolver_Implementation_Completion.md
  RETINASolver_Implementation_Completion.md
Due: none

Delete puppeteer_test_results.md
  puppeteer_test_results.md
Due: none

Enable Claude to make code modifications via PR comments
  .github/workflows/claude.yml
Due: none

Add comprehensive integration tests for RETINASolver
  README.md
  tests/docker-compose.retina.yml
  tests/integration/tests/e2e-retina-solver.test.js
  tests/integration/tests/mvp-retina-solver.test.js
  tests/integration/tests/retina-solver-pipeline.test.js
  tests/integration/utils/retina-solver-helpers.js
  tests/retina-solver-test-suite.js
  tests/verify-retina-services.sh
Due: none

Address code review feedback from PR #25
  docker-compose-e2e-test.yml
  event/algorithm/localisation/RETINASolverLocalisation.py
  run_e2e_test.sh
  tests/unit/event/localisation/test_retina_solver_container.py
Due: pytest
